@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-black: #231f20;
  --color-white: #fcfcfc;
  --color-light-green: #a6ce39;
  --color-dark-green: #134b23;
  --color-link-blue: #0000ff;
  --color-transparent: transparent;

  --text-*: initial;
  --text-paragraph: 1rem;
  --text-paragraph--letter-spacing: 0.02rem;
  --text-paragraph--font-weight: 300;
  --text-subheading: 1.25rem;
  --text-subheading--letter-spacing: 0.025rem;
  --text-subheading--font-weight: 600;
  --text-heading: 2.25rem;
  --text-heading--letter-spacing: 0.045rem;
  --text-heading--font-weight: 500;

  --breakpoint-*: initial;
  --breakpoint-phone: 425px;
  --breakpoint-tablet: 800px;
  --breakpoint-desktop: 1280px;

  --margin-15: 60px;

  --padding-15: 60px;

  --gap-15: 60px;
}

@layer components {

  html {
    scroll-behavior: smooth;
  }

  * {
    color: #202020;
    font-family: 'Noto Sans', Arial, sans-serif;
  }

  h1,
  h2 {
    @apply text-heading;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply text-subheading;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label {
    font-variant: small-caps;
  }

  p,
  input,
  textarea {
    @apply text-paragraph;
    font-variant: normal;
  }

  input,
  textarea {
    @apply text-black font-thin;
  }

  a {
    @apply hover:desktop:text-link-blue ease-in-out duration-300;
  }
}

.spinner {
  width: 20px;
  height: 20px;
  position: relative;
}

.spinner::before,
.spinner::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
  border-top-color: #134b23;
  animation: spin 1s linear infinite;
}

.spinner::after {
  animation-delay: 0.5s;
}

.spinner-submit {
  width: 24px;
  height: 24px;
  position: relative;
}

.spinner-submit::before,
.spinner-submit::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
  border-top-color: #FFFFFF;
  animation: spin 1s linear infinite;
}

.spinner-submit::after {
  animation-delay: 0.5s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* swiper styles */

:root {
  --swiper-pagination-color: #ae8f5f;
  --swiper-pagination-bullet-inactive-color: #ae8f5f;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-horizontal-gap: 4px;
}

.swiper-pagination-v {
  left: -30px !important;
}

.swiper,
.swiper-pagination-bullets-dynamic {
  overflow: visible !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 100% !important;
  @apply bg-white/80;
  top: 22px !important;
  transition: all 0.2s ease;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
  color: #134B23;
  transition: color 0.2s ease;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply bg-light-green/80;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  color: white;
}